@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: only light;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: default;
}

body * {
  @apply md:!cursor-none;
}

@layer base {
  body {
    @apply overflow-x-hidden;
  }

  h1 {
    @apply text-5xl font-medium leading-none tracking-tighter sm:text-6xl;
  }
  h2 {
    @apply text-5xl font-medium leading-tightest;
  }
  h3 {
    @apply text-3xl font-bold leading-tightest;
  }
  h4 {
    @apply text-2xl leading-none tracking-tighter;
  }
  h5 {
    @apply text-lg leading-tightest tracking-tighter;
  }
  h6 {
    @apply text-sm font-medium leading-none tracking-tighter;
  }
  p {
    @apply text-base leading-spaced tracking-tighter;
  }
  nav {
    @apply text-smaller leading-tightest tracking-tight;
  }
  canvas + div > div,
  canvas + div > div,
  canvas + div > div > div {
    @apply w-full;
  }
}
.globe {
  cursor: grabbing;
  height: 50vh;
  z-index: 15;
}

.model-display {
  position: relative;
  animation: leftright 40s infinite ease-in-out;
}

@keyframes leftright {
  100% {
    transform: translateX(100%);
    left: -100%;
  }
}

@layer components {
  .container {
    @apply mx-auto w-full px-4 sm:px-5;
  }
  .cont {
    @apply mx-auto w-full max-w-[1600px] px-5;
  }
  .cont-fluid {
    @apply px-5;
  }

  .light-mode {
    @apply block dark:hidden;
  }
  .dark-mode {
    @apply hidden dark:block;
  }

  .p-small {
    @apply text-smaller;
  }
  .small-title {
    @apply text-xs font-light leading-tightest tracking-wide;
  }

  .transition-blur {
    @apply transition-all duration-700 ease-in-out;
  }
}

/* Swiper */
.swiper-wrapper {
  align-items: stretch;
}

.cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 60px;
  height: 60px;
  font-size: 12px;
  border-radius: 50%;
  background-color: white;
  transition:
    transform 350ms ease 0s,
    width 350ms ease 0s,
    height 350ms ease 0s,
    border-radius 350ms ease 0s;
  transform: translate(-50%, -50%) scale(0.3);
  z-index: 999;
}

.cursor.hovered {
  transform: translate(-50%, -50%) scale(0.85);
}
.cursor.view {
  width: 70px;
  height: 35px;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4rem;
  padding: 4px;
}
.cursor.view::after {
  content: "View";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 14px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(235, 235, 235);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(205, 205, 205);
  border-radius: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(190, 190, 190);
}

.lil-gui {
  @apply !hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light only;
  }
}

@media screen and (min-width: 768px) {
  html,
  body {
    cursor: none;
  }
}
